/*---------------------CONTACTO - Formulario----------------------*/
form {
    @include centrado;
    font-size: 2rem;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    color: $textos;
}


#borde_form {
    @extend .bordes;
    background: rgba(6, 25, 71, 0.6);
}


#titulo_form {
    @include centrado;
    padding: 0.1rem;
}


.parrafo_form{
    font-size: large;
    font-style: oblique ;
    text-align: center;
    margin: 1rem;
}


.mensaje {
    display: flex;
    align-items: center; 
}


.enviar {
    @include centrado;
    margin-bottom: 1rem;
}


.enviar .boton {
    width: 90%;
    background: rgba(6, 25, 71);
    border-radius: 1rem;
    color: $textos;
}


.nombre, .email, .tel, .mensaje {
    display: flex;
    justify-content: right;
    margin: 1rem;
}


#nombre, #email, #tel, #mensaje {
display: flex;
margin-left: 1rem;
border-radius: 1rem;
border: solid 0.2rem orangered;
}
/*---------------------FIN CONTACTO - Formulario----------------------*/