/*------------------¿DONDE ESTAMOS?--------------*/
#maps {
    @include centrado;
    padding: 10rem;
    margin: 1rem;
    @extend .bordes;
}


.subtit {
    @include centrado;
}

#sociedadit {
    width: 90%;
  height: auto;
  @include centrado;
  @extend .bordes;
}

#imagsociedad {
    @include centrado;
    margin-top: 3rem;
}
/*---------------FIN ¿DONDE ESTAMOS?--------------*/